@charset "UTF-8";
/* Este archivo contiene normalizaciones de CSS para asegurar la consistencia entre navegadores. */
html {
  line-height: 1.15; /* Mejorar la legibilidad */
  -webkit-text-size-adjust: 100%; /* Evitar el ajuste de tamaño de texto en iOS */
}

body {
  margin: 0;
}

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

hr {
  box-sizing: content-box; /* Asegurar que el ancho se calcule correctamente */
  height: 0; /* Eliminar el alto predeterminado */
  overflow: visible; /* Asegurar que el contenido no se recorte */
}

pre {
  font-family: monospace, monospace; /* Usar fuente monoespaciada */
  font-size: 1em; /* Tamaño de fuente por defecto */
}

a {
  background-color: transparent; /* Eliminar el fondo predeterminado */
}

abbr[title] {
  text-decoration: underline; /* Subrayar abreviaturas */
  text-decoration: underline dotted; /* Subrayado punteado */
}

b,
strong {
  font-weight: bolder; /* Aumentar el peso de la fuente */
}

code,
kbd,
samp {
  font-family: monospace, monospace; /* Usar fuente monoespaciada */
  font-size: 1em; /* Tamaño de fuente por defecto */
}

small {
  font-size: 80%; /* Tamaño de fuente más pequeño */
}

sub {
  font-size: 75%; /* Tamaño de fuente más pequeño para subíndices */
  line-height: 0; /* Ajustar la línea */
  position: relative; /* Posicionamiento relativo */
  bottom: 0.25em; /* Ajustar la posición */
}

sup {
  font-size: 75%; /* Tamaño de fuente más pequeño para superíndices */
  line-height: 0; /* Ajustar la línea */
  position: relative; /* Posicionamiento relativo */
  top: 0.5em; /* Ajustar la posición */
}

table {
  border-collapse: collapse; /* Colapsar bordes de la tabla */
  border-spacing: 0; /* Eliminar el espaciado entre celdas */
}

button,
input,
optgroup,
select,
textarea {
  font-family: inherit; /* Heredar la fuente del elemento padre */
  font-size: inherit; /* Heredar el tamaño de fuente del elemento padre */
  line-height: inherit; /* Heredar la altura de línea del elemento padre */
  margin: 0; /* Eliminar márgenes predeterminados */
}

button,
select {
  text-transform: none; /* Evitar la transformación de texto */
}

button,
[type=button],
[type=reset],
[type=submit] {
  -webkit-appearance: button; /* Estilo de botón en WebKit */
}

button::-moz-focus-inner,
[type=button]::-moz-focus-inner,
[type=reset]::-moz-focus-inner,
[type=submit]::-moz-focus-inner {
  border-style: none; /* Eliminar el borde interno en Firefox */
  padding: 0; /* Eliminar el padding interno en Firefox */
}

input[type=checkbox],
input[type=radio] {
  box-sizing: border-box; /* Asegurar que el tamaño se calcule correctamente */
  padding: 0; /* Eliminar el padding predeterminado */
}

.button {
  display: inline-block;
  padding: 0.5rem 1rem;
  border: none;
  border-radius: 0.25rem;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
  transition: all 0.3s ease;
}
.button--primary {
  background-color: #910000;
  color: white;
}
.button--primary:hover {
  background-color: #5e0000;
}
.button--secondary {
  background-color: #bb0202;
  color: white;
}
.button--secondary:hover {
  background-color: rgb(136.5396825397, 1.4603174603, 1.4603174603);
}
.button--outline {
  background-color: transparent;
  border: 1px solid #910000;
  color: #910000;
}
.button--outline:hover {
  background-color: #910000;
  color: white;
}

.form-group {
  margin-bottom: 1rem;
}
.form-group label {
  display: block;
  margin-bottom: 0.5rem;
  font-weight: bold;
}
.form-group input,
.form-group textarea,
.form-group select {
  width: 100%;
  padding: 1rem;
  border: 1px solid #ced4da;
  border-radius: 0.25rem;
  background-color: #ffffff;
  font-size: 1rem;
}
.form-group input:focus,
.form-group textarea:focus,
.form-group select:focus {
  border-color: #80bdff;
  outline: 0;
  box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
}

.btn-form {
  display: inline-block;
  padding: 1rem;
  border: none;
  border-radius: 0.25rem;
  background-color: #007bff;
  color: #ffffff;
  cursor: pointer;
}
.btn-form:hover {
  background-color: #0056b3;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 1.5rem;
}

.row {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
}

.col {
  flex: 0 0 8.3333333333%;
  max-width: 8.3333333333%;
  padding: 0 0.75rem;
}

.col-1 {
  flex: 0 0 8.3333333333%;
  max-width: 8.3333333333%;
}

.col-2 {
  flex: 0 0 16.6666666667%;
  max-width: 16.6666666667%;
}

.col-3 {
  flex: 0 0 25%;
  max-width: 25%;
}

.col-4 {
  flex: 0 0 33.3333333333%;
  max-width: 33.3333333333%;
}

.col-5 {
  flex: 0 0 41.6666666667%;
  max-width: 41.6666666667%;
}

.col-6 {
  flex: 0 0 50%;
  max-width: 50%;
}

.col-7 {
  flex: 0 0 58.3333333333%;
  max-width: 58.3333333333%;
}

.col-8 {
  flex: 0 0 66.6666666667%;
  max-width: 66.6666666667%;
}

.col-9 {
  flex: 0 0 75%;
  max-width: 75%;
}

.col-10 {
  flex: 0 0 83.3333333333%;
  max-width: 83.3333333333%;
}

.col-11 {
  flex: 0 0 91.6666666667%;
  max-width: 91.6666666667%;
}

.col-12 {
  flex: 0 0 100%;
  max-width: 100%;
}

.image-responsive {
  max-width: 100%;
  height: auto;
}

.image-rounded {
  border-radius: 0.5rem;
}

.image-shadow {
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.image-thumbnail {
  display: inline-block;
  padding: 0.5rem;
  border: 1px solid #ddd;
  border-radius: 0.25rem;
  background-color: #f8f9fa;
}

.navbar {
  background-color: #310000;
  padding: 1rem;
  box-shadow: 0 4px 6px rgb(83, 0, 0);
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 1000;
}
.navbar .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.navbar__brand {
  font-size: 1.5rem;
  font-weight: bold;
  color: #ddd;
  text-decoration: none;
}
.navbar__brand:hover {
  color: #fff;
}
.navbar__menu {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
}
.navbar__item {
  margin-right: 1rem;
}
.navbar__item--active {
  font-weight: bold;
  color: #fff;
}
.navbar__link {
  text-decoration: none;
  color: #ddd;
  padding: 0.5rem 1rem;
  transition: color 0.3s ease;
}
.navbar__link:hover {
  color: #fff;
}

.table {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 1rem;
}

.table th,
.table td {
  padding: 0.75rem;
  text-align: left;
  border: 1px solid #dee2e6;
}

.table thead th {
  background-color: #f8f9fa;
  color: #212529;
}

.table-striped tbody tr:nth-of-type(odd) {
  background-color: #f2f2f2;
}

.clearfix::after {
  content: "";
  display: table;
  clear: both;
}

.hidden {
  display: none !important;
}

.float-left {
  float: left !important;
}

.float-right {
  float: right !important;
}

.overflow-hidden {
  overflow: hidden !important;
}

.shadow {
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.text-center {
  text-align: center;
}

.text-right {
  text-align: right;
}

.text-left {
  text-align: left;
}

footer {
  background-color: #310000;
  color: #ddd;
  padding: 20px 0;
  text-align: center;
}
footer .footer-content {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}
footer .footer-content .footer-logo {
  font-size: 1.5em;
  font-weight: bold;
  color: #ddd;
}
footer .footer-content .footer-logo:hover {
  color: #fff;
}
footer .footer-content .footer-links {
  list-style: none;
  padding: 0;
  display: flex;
  gap: 15px;
}
footer .footer-content .footer-links li a {
  color: #ddd;
  text-decoration: none;
  transition: color 0.3s;
}
footer .footer-content .footer-links li a:hover {
  color: #fff;
}
footer .footer-content .footer-social {
  display: flex;
  gap: 10px;
}
footer .footer-content .footer-social a {
  color: #ddd;
  font-size: 1.2em;
  transition: color 0.3s;
}
footer .footer-content .footer-social a:hover {
  color: #fff;
}
footer .footer-bottom {
  margin-top: 20px;
  font-size: 0.9em;
}

body {
  font-family: Arial, sans-serif;
  line-height: 1.6;
  margin: 0;
  padding: 0;
}

.container {
  width: 1200px;
  margin: 0 auto;
}

h1, h2, h3 {
  color: #910000;
}

a {
  text-decoration: none;
  color: #3498db;
}
a:hover {
  color: rgb(33.1380753138, 125.1882845188, 186.8619246862);
}

/*# sourceMappingURL=styles.css.map */
