// Fitxer parcial que defineix dos estils de taula, incloent una taula de tipus "striped".
@use 'variables';

.table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 1rem;
}

.table th,
.table td {
    padding: 0.75rem;
    text-align: left;
    border: 1px solid #dee2e6;
}

.table thead th {
    background-color: #f8f9fa;
    color: #212529;
}

.table-striped tbody tr:nth-of-type(odd) {
    background-color: #f2f2f2;
}