// Fitxer parcial que conté utilitats com clearfix, display, float, overflow, shadows, etc.
@use 'variables';

.clearfix::after {
    content: "";
    display: table;
    clear: both;
}

.hidden {
    display: none !important;
}

.float-left {
    float: left !important;
}

.float-right {
    float: right !important;
}

.overflow-hidden {
    overflow: hidden !important;
}

.shadow {
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.text-center {
    text-align: center;
}

.text-right {
    text-align: right;
}

.text-left {
    text-align: left;
}